@import '@/styles/typography';
@import '@/styles/mixins/media';
@import '@/styles/animations';

.root {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 4;
  background-color: #131416;
  padding: 0 24px;
}

.bg {
  animation: fade 1s ease-in-out 0.5s both;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1188px;
  width: 100%;
}

.title {
  @extend %display2;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
  word-wrap: none;
  width: 100%;
  animation: fade 0.35s ease-in-out 1s both;
  max-width: 372px;

  @include tablet {
    margin-bottom: 64px;
    max-width: 672px;
    margin-top: 0;
  }

  @include desktop {
    max-width: 912px;
  }
}

.caption {
  @extend %body2;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 32px;
  animation: fade 0.35s ease-in-out 2s both;

  @include tablet {
    margin-top: 64px;
  }
}

.stats {
  animation: fade 0.35s ease-in-out 1.5s both;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @include tablet {
    gap: 150px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 30px;
  }
}

.statsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  @include tablet {
    gap: 12px;
  }
}

.statsValue {
  @extend %digits1;
  margin: 0;
}

.statsCaption {
  @extend %caption1;
  text-align: center;
  color: #90959f;
}

.footer {
  animation: fade 0.35s ease-in-out 3s both;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 80px;
  padding: 0 32px;
}

.socials {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 0.7;
  }
}

.socialIcon {
  display: block;
  width: 20px;
  height: 20px;
}

.xionIcon {
  width: 40px;
  height: 20px;
}

.btnGroup {
  width: 100%;
  animation: fade 0.35s ease-in-out 2s both;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.shareBtn {
  margin-top: 30px;
  height: 44px;
  background-color: transparent;
  color: #000;
  border-width: 0;
  background-color: #fff;
  border-radius: 44px;
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  svg {
    width: 24px;
    height: 24px;
  }
}

.emailForm {
  margin-top: 30px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;

  input {
    width: calc(100% - 80px);
    height: 44px;
    border-radius: 44px;
    border: 1px solid #fff;
    padding: 0 24px;
    background-color: transparent;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    outline: none;
    transition: border-color 0.3s ease-in-out;

    &:focus {
      border-color: #fff;
    }
  }

  .submit {
    width: 80px;
    height: 44px;
    color: #000;
    border-width: 0;
    background-color: #fff;
    border-radius: 44px;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
.submitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
  animation: fade 0.35s ease-in-out 2s both;
}
