.root {
  display: block;
  background-color: #131416;
  animation: zoomIn 5s cubic-bezier(0.25, 1, 0.5, 1) both;
  position: absolute;
  user-select: none;
}

.content {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
  font-size: 1vw;
  font-weight: 700;
  line-height: 1.57;
  text-transform: uppercase;
  width: 100%;
  text-align: center;

  animation: hide 0.5s ease both 4s;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
