.root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  position: relative;
}

.timer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
