.root {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  z-index: 2;
  user-select: none;
}

.timer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.finished {
  transition: background-color 0.5s ease-in-out;
  background-color: #131416;
}
