@import '@/styles/animations';
@import '@/styles/typography';
@import '@/styles/animations';

.root {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  z-index: 2;
  user-select: none;
}

.timer {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.finished {
  transition: background-color 0.5s ease-in-out;
  background-color: #131416;
}

.hint {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 32px;
  transform: translate(-50%, -50%);
  color: #cbcbcb;
  font-weight: 700;
  text-align: center;
  max-width: 80%;
  z-index: -1;
  user-select: none;
}

.startBtn {
  @extend %body3;
  width: 250px;
  height: 56px;
  border-radius: 56px;
  border: 1px solid #131416;
  background-color: #131416;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.35s;
  animation: fade 0.35s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }
}

.starting {
  .startBtn {
    pointer-events: none;
    animation: fade 0.6s ease-in-out reverse both;
  }

  .hint {
    animation: fade 0.35s ease-in-out both;
  }
}
