@import '@/styles/typography';

.root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1117px;
  background-color: #fff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  @extend %headline1;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
