@import '@/styles/typography';
@import '@/styles/mixins/media';

.root {
  --moving-animation-duration: 16s;

  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: #131416;
  padding: 0 24px;
}

.container {
  transform: translateY(10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include tablet {
    max-width: 656px;
  }

  @include desktop {
    max-width: 872px;
  }
}

.title {
  @extend %display1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 28px;
  word-wrap: none;
  width: 100%;

  @include tablet {
    margin-bottom: 64px;
    max-width: 656px;
  }

  @include desktop {
    margin-bottom: 72px;
    max-width: 872px;
  }
}

.subtitle {
  @extend %body2;
  margin-bottom: 16px;
  text-align: center;
  color: #fff;
  max-width: 875px;

  @include tablet {
    margin-bottom: 24px;
  }

  @include desktop {
    margin-bottom: 32px;
  }
}

.caption {
  @extend %caption1;
  text-align: center;
  color: #fff;
  max-width: 875px;
  margin-bottom: 28px;

  @include tablet {
    margin-bottom: 48px;
  }

  @include desktop {
    margin-bottom: 60px;
  }
}

.line {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 50%;
  height: 30vh;
  transform: translate(50%, 0);
  width: 2px;
}

.finished {
  .line {
    transition: all 0.6s ease-in-out 1s;
    opacity: 0;
  }

  .finalStage {
    h2 {
      transition: all 0.6s ease-in-out 2s;
      opacity: 0;
    }

    svg {
      transition: all 0.6s ease-in-out 1.5s;
      opacity: 0;
    }
  }
}
