@import '@/styles/typography';

.root {
  --moving-animation-duration: 16s;

  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
  animation: animation 9s infinite cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}

.container {
  transform: translateY(10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 875px;
  width: 100%;
}

.title {
  @extend %display1;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 72px;
  word-wrap: none;
  width: 100%;
}

.subtitle {
  @extend %body2;
  margin-bottom: 32px;
  text-align: center;
  color: #fff;
}

.caption {
  @extend %caption1;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

.line {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translate(50%, calc(-100% + 100vh));
  width: 2px;
}

.root.animate {
  animation: move-up-section var(--moving-animation-duration) both;
}

.lodingStageTitle {
  // opacity: 0;
}

.animate {
  .line {
    animation-name: move-line;
    animation-duration: 7.5s;
    animation-fill-mode: both;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    opacity: 0;
  }

  .lodingStageTitle1 {
    opacity: 0;
    animation: fade-text 300ms both 2s;
  }

  .lodingStageTitle2 {
    animation: fade-text 300ms both 4s;
    opacity: 0;
  }

  .lodingStageTitle3 {
    animation: fade-text 300ms both 6s;
    opacity: 0;
  }
}

@keyframes move-up-section {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, -100%);
  }
}

@keyframes move-line {
  0% {
    transform: translateY(calc(-100% + 100vh));
    opacity: 1;
  }

  25% {
    transform: translateY(calc(-100% + 150vh));
    opacity: 1;
  }

  50% {
    transform: translateY(calc(-100% + 250vh));
    opacity: 1;
  }

  75% {
    transform: translateY(calc(-100% + 350vh));
    opacity: 1;
  }

  100% {
    transform: translateY(0.01%);
    opacity: 1;
  }
}

@keyframes fade-text {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
